// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://use.fontawesome.com/releases/v6.5.0/css/all.css");

$content-width: 768px;
$content-padding: 20px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.center {
    margin: 20px auto;
    padding: 0 $content-padding;
    max-width: $content-width;
}
.add-product {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.root {
    position: relative;
}

.syslinks {
    display: block;
}

.product-input {
    border-radius: 5px;
    border: 1px solid #767676;
    padding: 10px;
    z-index: 1;
}

.suggestion {
    position: absolute;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background: #e9e8e8;
    width: $content-width - $content-padding * 2;
    top: 35px;
    z-index: 0;
    padding: 8px 10px 3px;
    font-size: 12px;
    color: #767676;

    display: none;
}

.suggestion.active {
    display: block;
    cursor: pointer;
}

.review-input {
    border-radius: 5px;
    resize: none;
    padding: 10px;
    min-height: 64px;
}

.add-review {
    border-radius: 5px;
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
}

// .product-heading {
// }

.product {
    margin-bottom: 20px;
    &-name {
        display: inline;
        margin-right: 10px;
        align-self: baseline;
    }
    &-heading {
        margin-bottom: 5px;
        display: flex;
    }

    .reviews-toggle {
        border: none;
        display: block;
        padding-bottom: 3px;
        background-color: #ffffff;
        text-decoration: dotted underline;
        cursor: pointer;
    }
}

.reviews-toggle {
    align-self: end;
    &::before {
        content: "Показать отзывы";
    }
    &.opened::before {
        content: "Скрыть отзывы";
    }
}

.reviews {
    padding-left: 20px;
    display: none;
    &.opened {
        display: block;
    }
}

.review {
    display: flex;
    align-items: center;
    padding: 7px 0 7px 10px;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
    &-text {
        flex-grow: 1;
        margin-right: 5px;
    }
    &-remove {
        border: none;
        background-color: inherit;
        cursor: pointer;
        font-size: 16px;
        color: red;
        padding-right: 10px;
    }
    &:last-child {
        border-bottom-left-radius: 10px;
    }
    &:hover {
        background-color: #ececec;
    }
}
